@model JADEG.Model.PlayerModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="/Scripts/Game/ressources.js"></script>
    <script src="/Scripts/Game/canvas.js"></script>
}

<div id="canvasDiv">
    <canvas id="canvas" width="600" height="600">
        Votre navigateur ne supporte pas canvas.
    </canvas>
</div>

<div id="xdiv"></div>
<div id="ydiv"></div>
<script type="text/javascript">

    var tile; // la case en cours
    var nextTile; // la prochaine case, lorsque le joueur en change
    var players = {}; // les joueurs présents sur la case, y compris le joueur actif

    $(document).ready(function () {
        var dungeonHub = $.connection.dungeonHub;
        $.connection.hub.start().done(function () {
            tile = loadNextTile(1, 0, 0);
            loadRessources(sources, function () {
                window.requestAnimFrame = (function () {
                    return window.requestAnimationFrame ||
                            window.webkitRequestAnimationFrame ||
                            window.mozRequestAnimationFrame ||
                            function (callback) {
                                window.setTimeout(callback, 1000 / 60);
                            };
                })();
                (function start() {
                    requestAnimFrame(start);
                    refreshCanvas('@Model.Name', '@Model.DungeonId');
                })();
            });

            // on rejoins la tile
            dungeonHub.server.joinTile('@Model.DungeonId', tile.XCoord, tile.YCoord, '@Model.Name', 7 * pitch, 2 * pitch);

            // on écoute les touches pressées sur le canvas
            $("#canvas").attr("tabindex", "0").mousedown(function () {
                $(this).focus(); return false;
            }).keydown(function (e) {
                keyPressedOnCanvas(e, '@Model.Name', '@Model.DungeonId');
            });
        });
    });

    $.connection.dungeonHub.client.newPlayerJoin = function (name, posX, posY) {
        players[name] = { x: posX, y: posY, toGox: posX, toGoy: posY };
    };

    $.connection.dungeonHub.client.playerQuit = function (name) {
        delete players[name]
    }

    $.connection.dungeonHub.client.movePlayer = function (name, toGoX, toGoY) {
        players[name].toGox = toGoX;
        players[name].toGoy = toGoY;
    }

    function loadNextTile(dungeonId, x, y) {
        var model = { DungeonId: dungeonId, XCoord: x, YCoord: y };
        var toReturn;
        $.ajax({
            url: '/Tile/LoadTile',
            cache: false,
            async: false,
            data: JSON.stringify(model),
            type: 'POST',
            dataType: "json",
            contentType: 'application/json; charset=utf-8'
        }).done(function (data) {
            $('#xdiv').html(data.XCoord);
            $('#ydiv').html(data.YCoord);
            if (typeof (tile) != 'undefined') {
                $.connection.dungeonHub.server.quitTile(tile.DungeonId, tile.XCoord, tile.YCoord, '@Model.Name');
            }
            toReturn = data;
        });
        return toReturn;
    }
</script>
